@layer base {
	:root {
		--primary-yellow: var(--color-yellow-400);
	}

	.theme-yellow {
		--primary: var(--primary-yellow);
		--primary-foreground: oklch(0.98 0 0);
		--secondary: oklch(0.95 0.01 250);
		--secondary-foreground: oklch(0.22 0.03 275);
	}

	.dark.theme-yellow {
		--primary: var(--primary-yellow);
		--primary-foreground: oklch(0.22 0.03 275);
		--secondary: oklch(0.3 0.03 260);
		--secondary-foreground: oklch(0.98 0 0);
	}
}